.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #678c89;
}

.todo-item {
  margin-right: 15px;
  list-style-type: none;
  padding: 10px 15px;
  border-top: 1px solid #678c89;
}

.todo-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  height: 18px;
  display: inline-block;
}
 
.item-check{
  margin-right: 15px;
}

.completed {
  font-style: italic;
  color: #08f773;
  text-decoration: line-through
}

.not-completed{
  font-style: italic;
  font-weight: 600;
  color: red;
}

.btn-delete{
  background: #d35e0f;
  color: #fff;
  border: 1px solod #d35e0f;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  outline: none;
}
